.container{
    background-color: red;
    transform: translateX(7%);
    width: 93%;
    min-height: 585px;
}

.controls{
    width: 200px;
    height: 585px;
    background-color:gold;
}

.rangeBox{
    min-width: 100%;
}

.range{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.range:hover {
    opacity: 1; /* Полностью отображается при наведении курсора мыши */
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none; /* Переопределить внешний вид по умолчанию */
    appearance: none;
    width: 25px; /* Установите определенную ширину обработчика ползунка */
    height: 25px; /* Высота обработчика ползунка */
    background: #4CAF50; /* Зеленый фон */
    cursor: pointer; /* Курсор при наведении */
}

.range::-moz-range-thumb {
    width: 25px; /* Установите определенную ширину обработчика ползунка */
    height: 25px; /* Высота обработчика подзунка */
    background: #4CAF50; /* Зеленый фон */
    cursor: pointer; /* Курсор при наведении */
}
