.container {
    width: 100%;
    height: 100%;
    background-color: #c7c7c7;
    border-top: 2px solid black;
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.boxForm {
    width: 600px;
    min-height: 200px;
    border: 2px solid #979fa2;
    font-family: 'Arial', serif;
    font-size: 16px;
}

.title, .paramInfo {
    background-color: #b2b2b2;
    min-height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    /*border-radius: 15px;*/
}

.paramInfo{
    justify-content: space-between;
    background-color: #d2d1d1;
    padding: 10px;
}
